asgiref==3.8.1
black==25.1.0
click==8.2.1
colorama==0.4.6
crispy-bootstrap5==2025.4
Django==5.2.1
django-crispy-forms==2.4
django-extensions==4.1
export==0.2.1
graphviz==0.20.3
gunicorn==23.0.0
h11==0.16.0
mypy_extensions==1.1.0
packaging==25.0
pathspec==0.12.1
platformdirs==4.3.8
psycopg2-binary==2.9.10
pydotplus==2.0.2
pyparsing==3.2.3
python-dotenv==1.1.0
sqlparse==0.5.3
tzdata==2025.2
uvicorn==0.34.2
whitenoise==6.9.0
