{% extends 'base.html' %}
{% load static %}
{% block content %}
  <div class="courses-container" style="display: flex; gap: 1rem; flex-wrap: wrap;">
    {% if courses %}
      {% for course in courses %}
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">{{ course.title }}</h5>
            <p class="card-text">{{ course.description }}</p>
            <a href="{% url 'courses:course-detail' pk=course.id %}" class="card-link">More about course</a>
          </div>
        </div>
      {% endfor %}
    {% endif %}
  </div>
{% endblock %}