{% extends 'base.html' %}
{% load static %}
{% block content %}
<a style="margin: 10px; text-align: right" href="{% url 'courses:teacher-create' %}">Add new teacher</a>
<div class="row row-cols-1 row-cols-md-3 g-4">
  {% for teacher in teachers %}
    <div class="col">
      <div class="card h-100 text-center">
        <div class="card-body">
          <h5 class="card-title">
            <a href="{{ teacher.get_absolute_url }}">
              {{ teacher.first_name }} {{ teacher.last_name }} (username: {{ teacher.username }})
            </a>
          </h5>
          <p class="card-text">{{ teacher.bio|truncatewords:20 }}</p>
        </div>  <!-- card-body -->
      </div>  <!-- card -->
    </div>  <!-- col -->
  {% empty %}
    <p>We don’t have any teachers yet — but we’re on the lookout for the best.</p>
  {% endfor %}
</div>  <!-- row -->
{% endblock %}